<meta http-equiv="refresh" content="5" />
<div class="row">
  <div class="col-xs-2 col-xs-offset-5">
    <h2>Checkin Feed</h2>
  </div>
</div>


<br>
<br>

<% @checkins.each do |checkin| %>
  <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="itemdiv commentdiv">
          <div class="user">
            <%= image_tag("avatar.png") %>    
          </div>

          <div class="body">
            <div class="name">
              <%= checkin.screen_name %>
            </div>

            <div class="time">
              <i class="fa fa-clock-o fa-lg"></i>
              <span class="orange"> <%= time_ago_in_words(checkin.created_at) %> </span>
            </div>

            <div class="text">
              <i class="fa fa-quote-left"></i>
              Checked in from <%= checkin.address %>
              <%#= checkin.verified_location %>
              <%#= link_to 'Destroy', checkin, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </div>
      </div>
  </div> 
<% end %>  