<h1>Checkin</h1>

<div id="geoLocationYes" class="alert alert-success hide">Awesome! Geolocation is supported :) Remember to give your browser permission</div>

<div id="geoLocationNo" class="alert alert-danger hide">Oh Snap! Geolocation is not supported :(</div>

<%= render 'form' %>

<%= link_to 'Back', checkins_path %>
